*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

body{
    background-color: black;
    color: #FF00C1;
    font-family: 'Open Sans', sans-serif;
}

#game{
    border: 1px solid #00FFF9;
}

#gameOverBox{
    display: none;
    width: 0;
    height: 0;
    border: 1px solid #00FFF9;
}